{% extends 'main/layout.html' %}

{% block title %}Про нас{% endblock %}

{% block content %}
    <div class="features">
        <h1>Про нас</h1>
        <p>Игрок получает интересный и красивый инструмент для создания самых невероятный видов.
            Как и в реальности, основные аспекты, влияющие на эволюцию - это мутация, комбинация и естественный отбор.
            Играя с этими величинами, вы будете наблюдать за образованием самых невероятных видов.</p>
        <a class="btn btn-danger" href="{% url 'home' %}">На главную страницу</a>
    </div>
{% endblock %}