{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Farthest Frontier</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'game/css/game.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.0/css/all.css">
</head>
<body>
    <div class="features">
        <div id="header">
            <img src="{% static 'main/img/logo1.png' %}" alt="Лого">
            <span class="logo"><em>Igruha.Net</em></span>
        </div>
        <div id="main">
            <div>
                <div>
                    <img class="game_icon" src="static/main/img/farthest_frontier.jpg" alt="Logo" width="800px">
                </div>
                <div>
                    <h7 id="opisanie">Хоть проект “Farthest Frontier” еще находится на стадии разработке, игра уже получила огромную популярность,
                        что на фоне множества различных градостроительных симуляторов, говорит, что перед нами по-настоящему хороший проект.
                        Вы вместе с небольшой группой поселенцев отправляетесь на край мира, чтобы там построить процветающий город.
                        Одним из главных элементов к успеху станет сбор ресурсов. В игре их 14 (камень, трава, руда, глина, древесина и многое другое).
                        Также из собранных ресурсов можно создавать ценные предметы, которые не только позволят развить город, но и получить прибыль
                        с торговли. Не забывайте, что ценные ресурсы пользуются спросом, что приведет к тому, что соседние племена обязательно захотят
                        отнять их силой. Для этого позаботьтесь о защите своего города и близлежащих ресурсов. Помимо враждебных соседей, вас ждет
                        крайне суровый климат, который без должного вложения в науку, сильно затормозит рост вашего города, а может быть даже и полностью вас уничтожит!
                    </h7>
                </div>
                <div class="right">Скриншоты из игры:</div>
                <div class="right" id="scrin">
                    <img class="photo" src="static/game/img/farthest-frontier/1.jpg" width="200px">
                    <img class="photo" src="static/game/img/farthest-frontier/2.jpg" alt="Logo" width="200px">
                    <img class="photo" src="static/game/img/farthest-frontier/3.jpg" alt="Logo" width="200px">
                    <img class="photo" src="static/game/img/farthest-frontier/4.jpg" alt="Logo" width="200px">
                </div>
                <div class="right">
                    <span id="top">Системные требования:</span><br>
                    <span>✔ Операционная система: Windows 10 (только 64-битные версии) - только для 64 бит!</span><br>
                    <span>✔ Процессор: Intel Core i5 3470 с частотой 3,2 ГГц или AMD FX 8120 с частотой 3,9 ГГц и выше</span><br>
                    <span>✔ Оперативная память: 8 GB ОЗУ</span><br>
                    <span>✔ Видеокарта: NVIDIA GeForce GTX 780 или AMD R9 290 с 3 ГБ видеопамяти и выше</span><br>
                    <span>✔ DirectX: Версии 11</span><br>
                    <span>✔ Место на диске: 4 GB</span><br>
                </div>
                <div class="right">
                    <span>Жанр: инди, симуляторы, стратегии, ранний доступ</span><br>
                    <span>Разработчик: Crate Entertainment</span><br>
                    <span>Платформа: PC </span><br>
                    <span>Версия: 0.7.5f </span><br>
                    <span>Язык интерфейса: английский, русский</span><br>
                </div>
                <div class="right">
                    <h3>
                        <ul class="nav">
                            <a href="{% url 'home' %}"><li id="shop"><i class="fa-sharp fa-solid fa-cart-shopping"></i> Купить игру</li></a>
                        </ul>
                    </h3>
                </ul>
                </div>
            </div>
        </div>
        <div id="footer">
            <h3>Навигация</h3>
            <h6>
                <ul class="nav">
                    <a href="{% url 'home' %}"><li ><i class="fa-solid fa-house"></i> Главная</li></a>
                    <a href="{% url 'about' %}"><li><i class="fas fa-address-card"></i> Про нас</li></a>
                    <a href=""><li><i class="fa-solid fa-phone"></i> Контакты</li></a>
                </ul>
            </h6>
        </div>
    </div>
</body>
</html>